html {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

a {
    color: #44f;
}

body {
    width: 1000px;
    background-color: aliceblue;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

.welcome {
    font-size: 64px;
    text-align: center;
    padding: 20px 30px;
    color: skyblue;
    text-shadow: 3px 3px 1px darkblue;
}

h2 {
    font-weight: bolder;
}

h3 {
    font-weight: normal;
    font-size: 32px;
}

h4 {
    font-weight: normal;
    text-align: left;
}

ul {
    list-style-type: none;
    text-align: left;
}

div {
    text-align: center;
}

header {
    padding: 10px;
    background: aliceblue;
    display: inline-block;
}

.link-title {
    display: inline-block;
    vertical-align: top;
    padding: 0 25px;
}

.icon {
    padding-left: 30px;
    font-size: 18px;
    display: block;
    text-align: left;
    line-height: 25px;
}

.site {
    display: block;
    font-size: 18px;
    text-align: left;
}

.timeline {
    padding-top: 50px;
}

.menu {
    vertical-align: top;
    padding-top: 30px;
}
